html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial;
}
.flexing {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-content: stretch;
}
#viz {
  width: 300px;
  border-right: 1px solid #696969;
}
#node {
  flex-grow: 1;
  padding: 0;
  display: flex;
  padding-top: 50px;
  flex-direction: column;
}
#node-hash {
  padding: 3px;
}
#node-details {
  background-color: #f5f5f5;
  padding: 3px;
  overflow: auto;
  flex-grow: 1;
  margin: 0;
}
.commit, .tag {
  cursor: pointer;
}
.type-commit {
  color: rgb(228, 26, 28);
}
.type-tree {
  color: rgb(55, 126, 184);
}
.type-blob {
  color: rgb(77, 175, 74);
}
.tag {
  font: 12pt Arial;
}
